/* src/styles.css */

/* Default styles for mobile-first design */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 800px;
    margin: auto;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #e0ffe0;
}

.card-body {
    position: relative;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2e8b57;
    /* Green color for titles */
}

.card-text {
    font-size: 1.1em;
}

.over-par-circle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    background-color: green;
    /* Default to green */
}

.over-par-circle.positive {
    background-color: black;
}

.over-par-circle.negative {
    background-color: red;
}

.btn-danger {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #c9302c;
}

.btn-primary {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #4cae4c;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

h1,
h2 {
    color: #2e8b57;
    /* Green color for headings */
}

/* Styles for larger screens */
@media (min-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    button {
        width: auto;
    }

    .container {
        max-width: 600px;
        margin: auto;
    }
}


/* Additional styles for background image on the home screen */
.home-background {
    background-image: url('golf_course_1.jpg');
    /* Add the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* White background with some transparency */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}